"notebooks/.ipynb_checkpoints/"    
"utils/__pycache__/"                
"ai_text_detection_tool.egg-info/"  
"data/*.parquet"                    
"/notebooks/.ipynb_checkpoints/"   
"/utils/__pycache__/"               
"/ai_text_detection_tool.egg-info/" 
"/diagrams/"                        
"data/*.parquet"                    
