# ignore Jupyter checkpoints
notebooks/.ipynb_checkpoints/

# Python caches
utils/__pycache__/

# Package metadata
ai_text_detection_tool.egg-info/

# Diagrams folder
diagrams/

# All Parquet splits
data/*.parquet
